/* -------------- CSS Reset -------------- */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  html { scroll-behavior: smooth; }
  
  img { max-width: 100%; }
  
  body { 
    color: #484848; 
    overflow-x: hidden;
  }
  
  input:focus,
  select:focus,
  textarea:focus,
  button:focus {
      outline: none;
  }
  
   /* this overrides the default padding and margin on gridlex elements */
  [class*=grid] {   margin: 0;  }
  [class*=col]  {   padding: 0; }
  
  
  /* ------------ Utility Styles ---------- */
  .txtleft     { text-align: left;   }
  .txtright    { text-align: right;  }
  .txtcenter   { text-align: center; }
  
  .padded     { padding: 5%; }
  .padded-2   { padding: 2%; }
  .padded-10  { padding: 10%; }
  .padded-05  { padding: 0.5rem }

  .relative {position: relative;}
  
 
  /* bg-colours  */
  .featured-bg { background-color: #002E57; }
  .light-bg    { background-color: #83919C; }


  .bump-left {
    margin-left: 4rem;
    z-index:2;
  }

  .bump-right {
    margin-right: 2rem;
    z-index:2;
  }
  
  
  /* --------------- Typography ------------ */
  h1 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1.5rem;
    color: #002E57;
  }
  
  h2 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1.5rem;
    color: white;
  }

  h3 {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 3.5rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1rem;
    color: #002E57;
  }

  h4 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1.5rem;
    color: white;
  }

  h5 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
    text-transform: uppercase;
    line-height: 1;
    margin-bottom: 1.5rem;
    color: #002E57;
  }
   
  p {
    font-family: 'Mukta Vaani', sans-serif;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 25px;
  }

  li {
    font-family: 'Mukta Vaani', sans-serif;
    margin-bottom: 1.1rem;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 25px;
  }

  .whitetxt {
    font-family: 'Mukta Vaani', sans-serif;
    color: white;
  }
  
  a {
    text-decoration: none;
    color: inherit;
  }

  a:hover {
    text-decoration: none;
    color: #D09752;
    transition: 0.5s all;
  }
  
  
  /* ---------- Button Styles ----------- */
  .button {
    font-family: 'Mukta Vaani', sans-serif;
    color: white;
    background-color: #D09752;
	  text-decoration: none;    
	  text-transform: uppercase;    
	  letter-spacing: 1px;       
	  border: 2px solid #002E57;   
	  border-radius: 10px; 
	  padding: 0.5rem 2rem;    
	  display: inline-block;    
	  transition: 0.5s all; 
  }

  .button:hover {
    color: #ffffff;    
    background-color: #5F6B36;    
  }

  .button-2 {
    font-family: 'Mukta Vaani', sans-serif;
    color: white;
    background-color: #D09752;
	  text-decoration: none;    
	  text-transform: uppercase;    
	  letter-spacing: 1px;       
	  border: 2px solid #002E57;   
	  border-radius: 10px; 
	  padding: 0.5rem 2rem;    
	  display: inline-block;    
	  transition: 0.5s all; 
  }

  .button-2:hover {
    color: #ffffff;    
    background-color: #5F6B36;;    
  }

  .button-3 {
    font-family: 'Mukta Vaani', sans-serif;
    color: #002E57;
	  text-decoration: none;    
	  text-transform: uppercase;    
	  letter-spacing: 1px;       
	  border: 2px solid #002E57;   
	  border-radius: 10px; 
    margin-top: 1rem;
	  padding: 0.5rem 2rem;    
	  display: inline-block;    
	  transition: 0.5s all; 
  }

  .button-3:hover {
    color: #ffffff;    
    background-color: #D09752;    
  }
  
  
  
  /*--------------- Header and Footer ------------ */
  header {
    padding: 2% 5%;
    background: 0 0;
  }
  
  header nav a {
    font-family: 'Mukta Vaani', sans-serif;
    font-size: 1.2rem;
    padding: 1.5rem 1.2rem;
    display: inline-block;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    transition: 0.3s;
  }
  
  header a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: 0.3s;
  }
  
  header a:hover {
    color: #D09752;
  }
  
  footer nav a {
    font-family: 'Mukta Vaani', sans-serif;
    margin: 0.8rem;
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: 0.5s;
  }
  
  footer nav a:hover {
    color: #D09752;
  }

    /* ----------- Hamburger Nav -------------- */
  /* this is the button which changes into an x */
  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 2px;
    background-color: #484848;
    margin: 9px 0;
    transition: 0.4s;
  }
  
  /* rotate first bar */
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
    background-color: white;
  }
  
  /* fade out the second bar */
  .change .bar2 {
    opacity: 0;
  }
  
  /* rotate last bar */
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
    background-color: white;
  }
  
  /* buttons styles */
  .hamburger-button {
    cursor: pointer;
    padding: 0.5rem 1rem;
    display: inline-block;
    font-weight: 200;
    font-size: 2.5rem;
    line-height: 0.8;
    margin-top: -2.5rem;
    position: fixed;
    right: 1rem;
    top: 2.5rem;
    z-index: 9999;
  }
  
  
  /* this is the nav menu for mobile */
  .mobile-menu {
      display: none; 
      background-color: #002E57; 
      padding: 2%;
      position: fixed; 
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;
      z-index: 999;
  }
  
  .mobile-menu nav a {
    font-family: 'Mukta Vaani', sans-serif; 
      text-decoration: none; 
      color: white; 
      padding: 1rem 1.2rem;
      display: block;
      font-weight: normal;
      font-size: 0.9rem;
  }

  .mobile-menu a {
    text-decoration: none;
    text-transform: uppercase;
    color: inherit;
    transition: 0.3s;
  }

  .mobile-menu a:hover {
    color: #D09752;
  }


  
  /* Default Responsive Styles (Dekstop and below) */
  .mob-show {
      display: none; 
  }
  
  @media(max-width:1071px) {
      .mob-hide { display: none; }
      .mob-show { display: block; }
  }

  @media (max-width: 48em) {
    .hide-sm { display: none; }
    .flex-flip-sm { flex-direction: column-reverse; }
  }
  
  
  /* ---------- Font Awesome ------------ */
  .fa-regular {      
    font-size: 1rem;
    font-family: 'Font Awesome 5 Free';
    color: #484848;
  }

  .fa-angles-down {        
    font-size: 3rem;
    font-family: 'Font Awesome 5 Free';
    margin-bottom: 1rem;
    color: #002E57;
  }

  .fa-handshake, .fa-check, .fa-user-group, .fa-lightbulb {        
    font-size: 3rem;
    margin-bottom: 1rem;
    color: white;
  }

  .fa-angles-down:hover {  
    transition: 0.5s;      
    color: #D09752;
  }

  .fa-facebook, .fa-linkedin { 
    padding: 1.5%;     
    font-size: 2rem;
    color: white;
  }

  .fa-check {
    font-size: 2rem;
    font-family: 'Font Awesome 5 Free';
    color: #002E57;
  }


  
  /* -------------- Banners --------------- */
  .banner-front-page {
    background-image: url(images/warehouse-stackedpallets-fade.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banner-about-us {
    background-image: url(images/working-together-fade.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banner-our-products {
    background-image: url(images/shrink-boxes-header-fade.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banner-the-environment {
    background-image: url(images/wind-turbines-header-fade.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .banner-terms {
    background-image: url(images/document-stack-fade.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  @media (max-device-width: 600px) {
    .banner-front-page      { background-attachment: scroll; }
    .banner-about-us        { background-attachment: scroll; }
    .banner-our-products    { background-attachment: scroll; }
    .banner-the-environment { background-attachment: scroll; }
    .banner-terms           { background-attachment: scroll; }
  }

   
  /* ------------------ Background Photos ---------------- */
  .bg-pallets {
    background-image: url(images/stacked-pallets.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .bg-plastic-bags {
    background-image: url(images/plastic-bags.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .bg-blown-film {
    background-image: url(images/blown-film.jpeg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .bg-machinery {
    background-image: url(images/machinery-wrap.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .bg-recyling-bags {
    background-image: url(images/recycling.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .bg-shrinkwrap {
    background-image: url(images/shrink-wrap-faded.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }

  .bg-warehouse {
    background-image: url(images/warehouse-portrait.jpg);
    background-size: cover;
    background-position: center;
  }

  .bg-recycle {
    background-image: url(images/recycle-symbol.jpg);
    background-size: cover;
    background-position: center;
    min-height: 30rem;
  }

  .product-polythene {
    background-image: url(images/1.png);
    background-size: cover;
    background-position: center;
  }

  .product-cardboard {
    background-image: url(images/2.png);
    background-size: cover;
    background-position: center;
  }

  .product-stretchfilm {
    background-image: url(images/3.png);
    background-size: cover;
    background-position: center;
  }

  .product-pallet {
    background-image: url(images/4.png);
    background-size: cover;
    background-position: center;
  }

  .product-post {
    background-image: url(images/5.png);
    background-size: cover;
    background-position: center;
  }

  .product-tape {
    background-image: url(images/6.png);
    background-size: cover;
    background-position: center;
  }


  /* ----------- Gallery ----------- */
  /* Responsive Image Utility Classes  */
  .bg-image {
    background-color: rgb(27, 27, 27);
    background-image: url('https://source.unsplash.com/Sg3XwuEpybU');
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat;
  }

  /* Aspect Ratio  */
  .portrait-tall { padding-bottom: 175%; }
  .portrait { padding-bottom: 40%; }
  .square { padding-bottom: 100%; }
  .landscape { padding-bottom: 85%; }
  .landscape-wide { padding-bottom: 56%; }

  /* Background Position */
  .bg-pos-t { background-position: top; }
  .bg-pos-b { background-position: bottom; }
  .bg-pos-l { background-position: left; }
  .bg-pos-r { background-position: right; }


  .gallery [class*="col-"] {
    padding: 1%;
  }

  /* Gallery - Background Images  */
  .bg-img-1 { background-image: url(images/gallery-polythene.jpg); }
  .bg-img-2 { background-image: url(images/gallery-cardboard.jpg); }
  .bg-img-3 { background-image: url(images/gallery-stretchfilm.jpg); }
  .bg-img-4 { background-image: url(images/gallery-post.jpg); }
  .bg-img-5 { background-image: url(images/gallery-tape.jpg); }
  .bg-img-6 { background-image: url(images/gallery-pallets.jpg); }
  .bg-img-7 { background-image: url(images/gallery-enviro.jpg); }
  .bg-img-8 { background-image: url(images/gallery-waste.jpg); }
  .bg-img-9 { background-image: url(images/gallery-more.jpg); }


  /* Background of gallery when active  */
  .lg-backdrop {
    background-color: rgb(40, 40, 40);
  }

  .lg-backdrop.in {
    opacity: 1;
  }

  @-webkit-keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
  }
  @keyframes swing {
    15% {
        -webkit-transform: translateY(5px);
        transform: translateY(5px);
    }
    30% {
        -webkit-transform: translateY(-5px);
        transform: translateY(-5px);
    }
    50% {
        -webkit-transform: translateY(3px);
        transform: translateY(3px);
    }
    65% {
        -webkit-transform: translateY(-3px);
        transform: translateY(-3px);
    }
    80% {
        -webkit-transform: translateY(2px);
        transform: translateY(2px);
    }
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
  }


  .swing:hover {
    -webkit-animation: swing 1s ease;
    animation: swing 1s ease;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
  }


  /* ------------ Forms -------------- */
  input, textarea {
    border-style: solid;
    border: 2px solid #c8c8cd;
    padding: 0.8em;
    display: block;
    width: 100%;
    font-size: 1rem;
  }


  /* ---------- Cookie Message -------- */
  .wrapper {
    position: sticky;
    bottom: 30px;
    left: 50px;
    max-width: 365px;
    background: #fff;
    padding: 25px 25px 30px 25px;
    border-radius: 15px;
    box-shadow: 1px 7px 14px -5px rgba(0,0,0,0.15);
    text-align: center;
    transition: right 0.5s ease;
  }

  .wrapper.hide{
    opacity: 0;
    pointer-events: none;
    transform: scale(0.8);
    transition: all 0.3s ease;
  }

  ::selection{
    color: #fff;
    background: #D09752;
  }

  .wrapper img{
    max-width: 90px;
  }

  .content header{
    font-size: 25px;
    font-weight: 600;
  }

  .content{
    margin-top: 10px;
  }

  .content p{
    font-family: 'Mukta Vaani', sans-serif;
    color: #858585;
    margin: 5px 0 20px 0;
  }

  .content .buttons{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .buttons button{
    padding: 10px 20px;
    border: none;
    outline: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    border-radius: 5px;
    background: #D09752;
    cursor: pointer;
    transition: all 0.3s ease;
  }

  .buttons button:hover{
    transform: scale(0.97);
  }

  .buttons .item{
    margin: 0 10px;
  }

  .buttons a{
    font-family: 'Mukta Vaani', sans-serif;
    color: #D09752;
  }

  @keyframes slideInUp {
    from {
      transform: translate3d(0, 100%, 0);
      visibility: visible;
    }
  
    to {
      transform: translate3d(0, 0, 0);
    }
  }
  
  .slideInUp {
    animation-name: slideInUp;
  }
/* ------- Slick Carousel --------- */
/* Testimonial Slider */
.slider-container {
  padding: 5%;
  max-width: 900px;
  margin: auto;
}

.slider-item {
  padding: 0.5rem;
}

.slider-item p {
    text-align: center;
    font-size: 1.5rem;
}

.quote-icon {
    font-size: 4rem;
    color: rgb(200, 200, 200);
}

.slick-dots {
    bottom: 5%;
    left: 0; /* This align the dots perfectly to the center, do not delete */
}

.slick-dots li,
.slick-dots li button {
   	width: 10px;
}

.slick-dots li button::before {
    font-size: 12px;
    color: #002E57;
}

.slick-arrows {
  color: #002E57;
}


/* Product Slider */

.items {
  display: inline-block;
  -webkit-transform: scale(0.8);
  -webkit-transition:all ease-in-out 0.3s;
  padding: 0.5rem;
}

.items.slick-slide.slick-current.slick-center {
    display: inline-block;
    -webkit-transform: scale(1, 1.2);
}

.sb {
  width:100%;
  height:600px;
  background-color: red;
}


/* ------- Mobile Styles --------- */
.mobiletxt {
  text-align: left;
}

@media (max-device-width: 600px) {
  .mobiletxt {
    text-align: center;
  }
}


/* ------------ Accordion -------------- */
.accordion {
  /* max-width:30%; */
  margin:auto;
  position:relative;
}
.accordion dt{
  font-family: 'Noto Sans', sans-serif;
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 1;
  margin-bottom: 2.5rem;
  color: #002E57;
  display:block;
  position: relative;
  text-decoration: none;
}
.accordion dd {
  padding: 0.5rem;
  font-family: 'Mukta Vaani', sans-serif;
}

/* Icon */
.accordion dt::after {
  content: "+";
  position: absolute;
  top: 0.4rem;
  right: 0.4rem;
  display: block;
  width: 1rem;
  height: 1rem;
  line-height: 1;
  text-align: center;
  -webkit-transition: all .35s;
  -o-transition: all .35s;
  transition: all .35s;
}

.accordion dt.open::after {
  transform:rotate(45deg);
}