 <!-- Footer -->
 <footer class="featured-bg whitetxt">
    <section class="grid">
        <div class="col-6_sm-12 padded">
            <h2 id="getintouch"> Get In Touch </h2> 
            <p>Whether you have a query about one of our products or if you just fancy keeping in touch, we'd really like to hear from you. </p>
            <p> <strong> Email: </strong> info@allaboutpackaging.co.uk </p>
            <p> <strong> Phone: </strong> 0203 994 0430 </p>

            <p> <a href="/termsconditions.html"> <strong> T&Cs </strong> </a> </p>
            <p> <a href="/privacy.html"> <strong> Privacy Policy </strong> </a> </p>

            <a href="https://www.facebook.com/allaboutpolythene"><i class="fa-brands fa-facebook"></i></a>  <a href="https://www.linkedin.com/company/all-about-polythene/"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <!-- Email form -->
        <div class="col-6_sm-12-middle txtcenter padded">
            <img src="/images/AAP-logowhite-sm.png" alt="">
            <form class="grid-center" action="https://formspree.io/f/xyyapkqa" method="POST">
                <div class="col-6_sm-12 padded-2">
                    <input type="text" name="name" placeholder="Your Name">
                </div>
                <div class="col-6_sm-12 padded-2">
                    <input type="email" name="_replyto" placeholder="Your Email">
                </div>
                <div class="col-12 padded-2">
                    <textarea placeholder="Your Message"></textarea>
                    <input type="submit" value="Send" class="button-3">
                </div>
          </form>
        </div>
      </section>
</footer>